
/* Importation des fonts*/
/*Pour le titre*/
@font-face {
    font-family: Poppins;
    src: url('Poppins-Medium.ttf');
    font-weight:normal;
}
/*Pour la nav*/
@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Medium.ttf');
    font-weight:normal;
}
@font-face {
    font-family: Raleway;
    src: url('Raleway-Medium.ttf');
    font-weight:normal;
}

/* 
 * ----------------------------------------------------------------
 * Définition global
 * ----------------------------------------------------------------
 */

/*Definition de la position*/
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

main{
    flex-grow: 1;

    display: flex;
}

footer{
    clear: both;
    background-color: lightgray;
    min-height: 50px;
}

nav{
    flex: 0 0 auto;
}
content{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
footer{
    padding: 20px;
}

/*style des block*/
main{
    background-color: lightgray;
    border-bottom: solid black 2px;
}
nav{
    border-right: solid black 2px;
    box-shadow: 3px 0px 3px 0px darkgray;
}

/* 
 * ----------------------------------------------------------------
 * Définition des parties en commun
 * ----------------------------------------------------------------
 */

/*Definition de la position*/
.textWithImage{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.VeritcalImages{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionTitle{
    padding: 10px;
    margin-top: 0; /* one page : default, multipage : 0 */
}

/*Définition de l'apparance*/
.sectionTitle{
    background-color: #353535;
    color:lightgray;
    font-family: Raleway;
}
h2{
    font-family: Poppins;
}
p{
    font-size: 110%;
    font-family: Raleway;
    hyphens: auto;
    text-align: justify;
}
strong{
    color: #cc5500;
}
strong.subTitle{
    font-size: 112%;
    color: black;
}
a:link{
    color: #cc5500;
}
a:hover{
    color: #ff9900;
}



/* 
 * ----------------------------------------------------------------
 * Définition de la bare de navigation
 * ----------------------------------------------------------------
 */

/* Definition des positions*/
#navBlock{
    height: 60vh;

    position: sticky;
    top:0px;

    display: flex;
    flex-direction: column;
    align-items:center;
}

#title{
    flex: 0 0 auto;
}
#navTab{
    flex-grow: 1;
    display: flex;
    align-items: center;

    padding: 0;
    margin: 10px 0;
}

#navTab ul{
    flex-grow: 1;
    list-style: none;
    padding: 0px;
}


/* Définition de l'apparance */
#navBlock{
    padding: 15px;
}

#title{
    padding: 5px;
    border: solid #ff6600 3px;

    font-family: Poppins;
    font-size: 225%;

    border-radius: 8px;
}

#navTab ul li{
    border-bottom: solid #ff6600 2px;
    text-align: center;
    font-size:150%;
    padding: 5px;

    font-family: Montserrat;
}
#navTab ul li:last-child{
    border-bottom: none;
}
#navTab ul li a{
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
#navTab ul li:hover{
    background-color:#353535;
}
#navTab ul li:hover > a{
    color: lightgray;
}
.currTab{
    background-color:#353535;
}
.currTab > a{
    color: lightgray !important;
}






/* 
 * ----------------------------------------------------------------
 * Définition de a propos
 * ----------------------------------------------------------------
 */

/*Définition de la position*/
#aPropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Définition de l'aparance*/
#Photo{
    border-radius: 50%;
    border: solid black 2px;
    width: 300px;
    height: 300px;
}
#aPropos .textWithImage{
    width: 70%;
    border: solid #ff6600 4px;
}


/* 
 * ----------------------------------------------------------------
 * Définition de timeline
 * ----------------------------------------------------------------
 */

/*Définition de la position*/
.timeline > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timelineContent{
    padding: 10px;
    margin-bottom: 50px;
}
.timelineContentTitle{
    margin: 0px;
    text-align: center;
}
.timelineContentDate{
    margin-bottom: 0px;
}

/*Définition de l'aparance*/
.timelineContent{
    width: 70%;
    border: solid #ff6600 4px;
    border-radius: 10px;
}


/* 
 * ----------------------------------------------------------------
 * Définition de grille
 * ----------------------------------------------------------------
 */

/*Définition de la position*/
.grid > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gridContent{
    margin: 10px;
    max-width: 400px;
}

/*Définition de l'aparance*/
.gridContent{
    padding: 10px;
    border: solid #ff6600 4px;
    border-radius: 10px;
}

/* 
 * ----------------------------------------------------------------
 * Définition du form
 * ----------------------------------------------------------------
 */

/*Définition de la position*/
form{
    width: 100%;
}
form label{
    margin-top: 5px;
}
form input{
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
}
form textarea{
    width: 100%;
    resize: vertical;
    border-radius: 10px;
    margin-bottom: 10px;
}
form .button{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    min-width: 50%;
}

/*Définition de l'aparance*/
form input{
    border: solid #ff6600 2px;
    border-radius: 10px;
}
form textarea{
    border: solid #ff6600 2px;
}



/* 
 * ----------------------------------------------------------------
 * Définition des images
 * ----------------------------------------------------------------
 */

/* a propos */
#LogoDOTNET{
    height: auto;
    width: 75px;
}
#LogoIUT{
    height: auto;
    width: 150px;
}
#LogoLinux{
    height: auto;
    width: 125px;
}

/* projets */
#GestionaireDeStage{
    height: 350px;
    margin-left: 20px;
}
#IPad{
    height: 350px;
    margin-left: 0;
    margin-right: -20px;
}
#forge{
    height: 350px;
    margin-left: 50px;
}



/* 
 * ----------------------------------------------------------------
 * Définition du footer
 * ----------------------------------------------------------------
 */
footer a{
    display: inline-block;
    padding: 10px;
    border: solid #ff6600 4px;
    border-radius: 10px;
}



/* 
 * ----------------------------------------------------------------
 * Définition pour mobile
 * ----------------------------------------------------------------
 */
@media screen and (max-width: 1050px){
    /* 
    * ----------------------------------------------------------------
    * Définition global
    * ----------------------------------------------------------------
    */

    /*Definition de la position*/
    main{
        display: block;
    }
    content{
        display: block;
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* 
    * ----------------------------------------------------------------
    * Définition des parties en commun
    * ----------------------------------------------------------------
    */
    
    /*Definition de la position*/
    p{
        font-size: 225%;
        padding-left: 25px;
        padding-right: 25px;
    }
    a{
        font-size: 100%;
    }
    .sectionTitle{
        font-size: 450%;
    }
    .textWithImage{
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
        flex-direction: column;
    }
    .VeritcalImages{
        flex-direction: row;
    }


    /* 
    * ----------------------------------------------------------------
    * Définition de la bare de navigation
    * ----------------------------------------------------------------
    */

    /* Definition des positions*/
    #title{
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #navTab ul li{
        padding-top: 20px;
        padding-bottom:20px;
    }
    #navBlock{
        height: auto;
    }
    
    /* Définition de l'apparance */
    #title{
        font-size: 700%;
        border: solid #ff6600 10px;
        border-radius: 30px;
    }
    #navTab ul li{
        font-size:400%;
        border-bottom: solid #ff6600 6px;
    }
    nav{
        border-right: none;
        border-bottom: solid black 2px;
        box-shadow: 0px 5px 5px 0px darkgray;
    }
    

    /* 
    * ----------------------------------------------------------------
    * Définition de a propos
    * ----------------------------------------------------------------
    */

    /*Définition de la position*/
    #Photo{
        width: 80%;
        height: 80%;
    }
  

    /*Définition de l'aparance*/
    #Photo{
        border: solid black 8px;
    }
    #aPropos .textWithImage{
        width: 95%;
        border: solid #ff6600 7px;
        border-radius: 25px;
    }

    
    /* 
    * ----------------------------------------------------------------
    * Définition de timeline
    * ----------------------------------------------------------------
    */

    /*Définition de la position*/
    .timelineContentDate{
        padding-bottom: 10px;
    }
    .timelineContent{
        width: auto;
        min-width: 95%;
    }
    .timelineImage{
        height: auto;
        width: 90%;
    }

    /*Définition de l'aparance*/
    .timelineContentDate{
        font-size: 275%;
    }
    .timelineContent{
        border: solid #ff6600 7px;
        border-radius: 25px;
    }
    .timelineContentTitle{
        font-size: 325%;
    }

    /* 
    * ----------------------------------------------------------------
    * Définition de grille
    * ----------------------------------------------------------------
    */

    /*Définition de la position*/
    .grid > div{
        display: inline-block;
    }
    .gridContent{
        padding: 10px;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .gridTitle{
        margin: 0;
    }
    
    /*Définition de l'aparance*/
    .gridContent{
        border: solid #ff6600 7px;
        border-radius: 25px;
    }
    .gridTitle{
        text-align: center;
        font-size: 325%;
    }
    .gridTitle a{
        font-size: 100%;
    }
    .gridContent > h3{
        font-size: 225%;
        text-align: center;
    }

    /* 
    * ----------------------------------------------------------------
    * Définition du form
    * ----------------------------------------------------------------
    */

    /*Définition de la position*/
    form label{
        font-size: 200%;
        margin-top: 5px;
    }
    form input{
        width: 90%;
        padding: 8px;
        margin-bottom: 10px;
    }
    form textarea{
        width: 90%;
        margin-bottom: 20px;
    }
    form .button{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        min-width: 50%;
    }

    /*Définition de l'aparance*/
    form input{
        border: solid #ff6600 4px;
        border-radius: 20px;
    }
    form textarea{
        font-size: 175%;
        border: solid #ff6600 4px;
        border-radius: 20px;
    }



    /* 
    * ----------------------------------------------------------------
    * Définition des images
    * ----------------------------------------------------------------
    */

    /* a propos */
    #LogoDOTNET{
        height: auto;
        width: 150px;
    }
    #LogoIUT{
        height: auto;
        width: 300px;
    }
    #LogoLinux{
        height: auto;
        width: 250px;
    }

    /* projets */
    #GestionaireDeStage{
        height: auto;
        margin: 0;
    }
    #IPad{
        height: auto;
        margin: 0;
    }
    #forge{
        height: auto;
        margin: 0; 
    }



    /* 
    * ----------------------------------------------------------------
    * Définition du footer
    * ----------------------------------------------------------------
    */
    footer{
        padding: 10px;
    }
    footer a{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 25px;
        font-size: 300%;
    }
    footer a:first-child{
        position: relative;
        top: 4px;
    }
}
/* Comme j'était bien obliger de rajouter quelque chose qu'il ne faut pas : ニジガク大好き です!*/