
/* Importation des fonts*/
/*Pour le titre*/
@font-face {
    font-family: Poppins;
    src: url('Poppins-Medium.ttf');
    font-weight:normal;
}
/*Pour la nav*/
@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Medium.ttf');
    font-weight:normal;
}
@font-face {
    font-family: Raleway;
    src: url('Raleway-Medium.ttf');
    font-weight:normal;
}

/* Definition de la position global*/
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

main{
    flex-grow: 1;

    display: flex;
}

footer{
    clear: both;
    background-color: lightgray;
    min-height: 50px;
}

nav{
    flex: 0 0 auto;
}
content{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
footer{
    padding: 20px;
}

/*style des block*/
main{
    background-color: lightgray;
    border-bottom: solid black 2px;
}
nav{
    border-right: solid black 2px;
    box-shadow: 3px 0px 3px 0px darkgray;
}



/* Definition des position de la nav*/
#navBlock{
    height: 60vh;

    position: sticky;
    top:0px;


    display: flex;
    flex-direction: column;
    align-items:center;
    
}

#title{
    flex: 0 0 auto;
}
#navTab{
    flex-grow: 1;

    display: flex;
    align-items: center;
    

    padding: 0;
    margin: 10px 0;
}

#navTab ul{
    flex-grow: 1;
    list-style: none;
    padding: 0px;
}




/* Style de la nav */
#navBlock{
    padding: 15px;
}

#title{
    padding: 5px;
    border: solid #ff6600 3px;

    font-family: Poppins;
    font-size: 225%;

    border-radius: 8px;
}

#navTab ul li{
    border-bottom: solid #ff6600 2px;
    text-align: center;
    font-size:150%;
    padding: 5px;

    font-family: Montserrat;
}
#navTab ul li:last-child{
    border-bottom: none;
}
#navTab ul li a{
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
#navTab ul li:hover{
    background-color:#353535;
}
#navTab ul li:hover > a{
    color: lightgray;
}
.currTab{
    background-color:#353535;
}
.currTab > a{
    color: lightgray !important;
}



/*Style commun du contenue*/
.sectionTitle{
    background-color: #353535;
    color:lightgray;
    padding: 10px;
    font-family: Raleway;
    margin-top: 0; /* one page : default, multipage : 0 */
}
h2{
    font-family: Poppins;
}
p{
    font-size: 110%;
    font-family: Raleway;
    hyphens: auto;
    text-align: justify;
}
strong{
    color: #cc5500;
}
strong.subTitle{
    font-size: 112%;
    color: black;
}
a:link{
    color: #cc5500;
}
a:hover{
    color: #ff9900;
}



/* Style de a propos*/
#aPropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Photo{
    border-radius: 50%;
    border: solid black 2px;
    width: 300px;
    height: 300px;
}
#aProposText{
    width: 60%;
    border: solid #ff6600 4px;
    padding: 20px;
    border-radius: 10px;
}



/* Style des timelines*/
.timeline div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.timelineContent{
    padding: 10px;
    margin-bottom: 50px;

    width: 60%;
    border: solid #ff6600 4px;
    border-radius: 10px;
}
.timelineContentTitle{
    margin: 0px;
    text-align: center;
}
.timelineContentDate{
    margin-bottom: 0px;
}


/* Style des grille*/

.grid > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gridContent{
    padding: 10px;
    border: solid #ff6600 4px;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
}

/* Style du footer */
footer a{
    display: inline-block;
    padding: 10px;
    border: solid #ff6600 4px;
    border-radius: 10px;
}

/* Style dr form */
form{
    width: 100%;
}
form label{
    margin-top: 5px;
}
form input{
    width: 100%;
    border: solid #ff6600 2px;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 5px;
}
form textarea{
    width: 100%;
    resize: vertical;
    border: solid #ff6600 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}
form .button{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    min-width: 50%;
}




@media screen and (max-width: 1050px){
    /* Définition de la position global */
    main{
        display: block;
    }
    content{
        display: block;
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* Définiton de la nav */
    #title{
        font-size: 700%;
        border: solid #ff6600 10px;
        border-radius: 30px;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #navTab ul li{
        font-size:150%;
        padding-top: 20px;
        padding-bottom:20px;
        border-bottom: solid #ff6600 6px;
    }
    #navBlock{
        height: auto;
    }
    nav{
        border-right: none;
        border-bottom: solid black 2px;
        box-shadow: 0px 5px 5px 0px darkgray;
    }


    /* Définition du  contenue */
    /* global */
    p{
        font-size: 175%;
        padding-left: 25px;
        padding-right: 25px;
    }
    a{
        font-size: 300%;
    }
    .sectionTitle{
        font-size: 450%;
    }

    /* a propos */
    #aProposText{
        width: auto;
        border: solid #ff6600 7px;
        border-radius: 25px;
        padding-left: 25px;
        padding-right: 25px;
    }
    #Photo{
        border: solid black 8px;
        width: 80%;
        height: 80%;
    }
    #aPropos > a{
        text-align: center;
    }

    /* timeline */
    .timelineContentDate{
        font-size: 275%;
        padding-bottom: 10px;
    }
    .timelineContent{
        width: auto;
        min-width: 95%;
        border: solid #ff6600 7px;
        border-radius: 25px;
    }
    .timelineContentTitle{
        font-size: 325%;
    }

    /* grille */
    .grid > div{
        display: inline-block;
    }
    .gridContent{
        padding: 10px;
        border: solid #ff6600 7px;
        border-radius: 25px;
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }
    .gridTitle{
        font-size: 325%;
        text-align: center;
        margin: 0;

    }
    .gridTitle a{
        font-size: 100%;
    }
    .gridContent > h3{
        font-size: 225%;
        text-align: center;
    }

    /* form */
    form label{
        font-size: 200%;
        margin-top: 5px;
    }
    form input{
        width: 90%;
        border: solid #ff6600 4px;
        border-radius: 20px;
        padding: 8px;
        margin-bottom: 10px;
        font-size: 175%;
    }
    form textarea{
        width: 90%;
        border: solid #ff6600 4px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    form .button{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        min-width: 50%;
    }

    /* footer */
    footer{
        padding: 10px;
    }
    footer a{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 25px;
        font-size: 300%;
    }
    footer a:first-child{
        position: relative;
        top: 4px;
    }
}
