
/* Importation des fonts*/
/*Pour le titre*/
@font-face {
    font-family: Poppins;
    src: url('Poppins-Medium.ttf');
    font-weight:normal;
}
/*Pour la nav*/
@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Medium.ttf');
    font-weight:normal;
}
@font-face {
    font-family: Raleway;
    src: url('Raleway-Medium.ttf');
    font-weight:normal;
}

/* Definition de la position global*/
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

main{
    flex-grow: 1;

    display: flex;
}

footer{
    clear: both;
    background-color: lightgray;
    min-height: 50px;
}

nav{
    flex: 0 0 auto;
}
content{
    box-sizing: border-box;
    padding: 20px;
}
footer{
    padding: 20px;
}

/*style des block*/
main{
    background-color: lightgray;
    border-bottom: solid black 2px;
}
nav{
    border-right: solid black 2px;
    box-shadow: 3px 0px 3px 0px darkgray;
}



/* Definition des position de la nav*/
#navBlock{
    height: 60vh;

    position: sticky;
    top:0px;


    display: flex;
    flex-direction: column;
    align-items:center;
    
}

#title{
    flex: 0 0 auto;
}
#navTab{
    flex-grow: 1;

    display: flex;
    align-items: center;
    

    padding: 0;
    margin: 10px 0;
}

#navTab ul{
    flex-grow: 1;
    list-style: none;
    padding: 0px;
}




/* Style de la nav */
#navBlock{
    padding: 15px;
}

#title{
    padding: 5px;
    border: solid #ff6600 3px;

    font-family: Poppins;
    font-size: 225%;

    border-radius: 8px;
}

#navTab ul li{
    border-bottom: solid #ff6600 2px;
    text-align: center;
    font-size:125%;
    padding: 5px;

    font-family: Montserrat;
}
#navTab ul li:last-child{
    border-bottom: none;
}
#navTab ul li a{
    color: black;
    text-decoration: none;
}
#navTab ul li:hover{
    background-color:#353535;
}
#navTab ul li:hover > a{
    color: lightgray;
}




/*Style commun du contenue*/
.sectionTitle{
    background-color: #353535;
    color:lightgray;
    padding: 10px;
    font-family: Raleway;
}
h2{
    font-family: Poppins;
}
p{
    font-size: 110%;
}
strong{
    color: #cc5500;
}
a:link{
    color: #cc5500;
}
a:hover{
    color: #ff9900;
}



/* Style de a propos*/
#aPropos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Photo{
    border-radius: 50%;
    border: solid black 2px;
    width: 300px;
    height: 300px;
}
#aProposText{
    width: 60%;
    border: solid #ff6600 4px;
    padding: 20px;
    border-radius: 10px;
}



/* Style des timelines*/
.timeline div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.timelineContent{
    padding: 10px;
    margin-bottom: 50px;

    width: 60%;
    border: solid #ff6600 4px;
    border-radius: 10px;
}
.timelineContentTitle{
    margin: 0px;
}
.timelineContentDate{
    margin-bottom: 0px;
}


/* Style des grille*/

.grid > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gridContent{
    padding: 10px;
    border: solid #ff6600 4px;
    border-radius: 10px;
    margin: 10px;
    max-width: 400px;
}

/* Style du footer */
footer a{
    display: inline-block;
    padding: 10px;
    border: solid #ff6600 4px;
    border-radius: 10px;
}




@media screen and (max-width: 850px){
    /* Définition de la position global */
    main{
        display: block;
    }
    content{
        display: block;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Définiton de la nav */
    #navTab ul li{
        font-size:150%;
    }
    #navBlock{
        height: auto;
    }
    nav{
        border-right: none;
        border-bottom: solid black 2px;
        box-shadow: 0px 5px 5px 0px darkgray;
    }


    /* Définition du  contenue */
    #title{
        font-size: 250%;
    }
    #aProposText{
        width: auto;
    }
    .timelineContent{
        width: auto;
    }
    .gridContent{
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 550px){
    footer{
        padding: 10px;
    }
    footer a{
        width: 100%;
        box-sizing: border-box;
    }
    footer a:first-child{
        position: relative;
        top: 4px;
    }
}